@import url('https://fonts.cdnfonts.com/css/times-new-roman');

header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.377), transparent), url('../assets/img/BannerTrappers.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-container {
    min-height: 14vh;
}

.index-nav {
    min-height: 13vh;
    background-color: black;
}

.index-nav a {
    color: white;
    text-decoration: none;
}

.index-nav .logo img {
    width: 80px;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 16px;
    margin-right: 32px;
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 10px;
}

.nav-list li:hover {
    background-color: #a913ff;
}

#prop {
    margin-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#title {
    color: white;
    margin: auto;
    font-size: 95px;
    text-shadow: 30px;
    text-align: left;
    margin-left: 10%;
    margin-top: 10%;
}

#prop h3 {
    text-align: left;
    text-shadow: 30px;
    font-size: 45px;
    color: white;
    margin: auto;
    margin-left: 10%;
    margin-top: 0%;
}