.artistas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25vh;
    padding: 20px;
    margin-left: 6.5%;
    margin-right: 6.5%;
    width: 190vh;
    height: 100%; 
    border-radius: 3px;
}

.artistas .imagemVeigh {
    display: flex;
    background-position: center;
    height: 75vh;
    width: 70vh;
    border-radius: 3px;
    background-image: url('../img/veigh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.artistas .textoArtistas {
    display: flex;
    text-align: justify;
    width: 50vw;
    height: 20vh;
}

.artistasMatue {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25vh;
    padding: 20px;
    margin-left: 6.5%;
    margin-right: 6.5%;
    width: 190vh;
    height: 100%; 
    border-radius: 3px;
}

.artistasMatue .imagemMatue {
    display: flex;
    background-position: center;
    height: 92vh;
    width: 70vh;
    border-radius: 3px;
    background-image: url('../img/matue.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.artistasMatue .textoArtistasMatue {
    display: flex;
    text-align: justify;
    width: 50vw;
    height: 20vh;
}

.artistasKyan {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25vh;
    padding: 20px;
    margin-left: 6.5%;
    margin-right: 6.5%;
    width: 190vh;
    height: 100%; 
    border-radius: 3px;
}

.artistasKyan .imagemKyan {
    display: flex;
    background-position: center;
    height: 75vh;
    width: 70vh;
    border-radius: 3px;
    background-image: url('../img/kyan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.artistasKyan .textoArtistasKyan {
    display: flex;
    text-align: justify;
    width: 50vw;
    height: 20vh;
}

.artistasKayblack {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25vh;
    padding: 20px;
    margin-left: 6.5%;
    margin-right: 6.5%;
    width: 190vh;
    height: 100%; 
    border-radius: 3px;
}

.artistasKayblack .imagemKayblack {
    display: flex;
    background-position: center;
    height: 87vh;
    width: 70vh;
    border-radius: 3px;
    background-image: url('../img/kayblack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.artistasKayblack .textoArtistasKayblack {
    display: flex;
    text-align: justify;
    width: 50vw;
    height: 20vh;
}

.artistasL7 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25vh;
    padding: 20px;
    margin-left: 6.5%;
    margin-right: 6.5%;
    width: 190vh;
    height: 100%; 
    border-radius: 3px;
}

.artistasL7 .imagemL7 {
    display: flex;
    background-position: center;
    height: 75vh;
    width: 70vh;
    border-radius: 3px;
    background-image: url('../img/l7nnon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.artistasL7 .textoArtistasL7 {
    display: flex;
    text-align: justify;
    width: 50vw;
    height: 20vh;
}