.prop .h1{
    font-weight: 500px;
}

.principal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25vh;
    padding: 20px;
    margin-left: 70px;
    margin-right: 70px;
    width: 190vh;
    height: 10vh;
/*     border: 3px solid #a913ff; */ 
    border-radius: 3px;
}

.principal .texto {
    display: flex;
    text-align: center;
    width: 90vh;
    height: 20vh;
}

.principal .imagem {
    display: flex;
    background-position: center;
    height: 45vh;
    width: 85vh;
    /* border: 3px solid #a913ff; */
    border-radius: 1px;
    background-image: url('../img/trappersAmericanos.jpg');
    background-repeat: no-repeat;
}

.texto span {
    font-weight: 700;
}

.principal img {
    display: flex;
    width: 50vh;
    height: 20.5vh;
}

.brasil {
    margin-top: 45vh;
    padding: 20px;
    margin-left: 70px;
    margin-right: 70px;
    width: 180vh;
    height: 12vh;
    /* border: 3px solid #a913ff; */
    border-radius: 3px;
}

.brasil .textoBrasil {
    text-align: center;
    width: 180vh;
    height: 30vh;
}

.brasil .imagemBrasil {
    background-position: center;
    height: 50vh;
    border: 3px solid #a913ff;
    border-radius: 3px;
    background-image: url('../img/trappersAmericanos.jpg');
    background-repeat: no-repeat;
}

.textoBrasil span {
    font-weight: 700;
}

.brasil img {
    display: flex;
    width: 45vh;
    height: 20.5vh;
}
