.prop .h1{
    font-weight: 500px;
}

.principal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25vh;
    padding: 20px;
    margin-left: 70px;
    margin-right: 70px;
    width: 190vh;
    height: 10vh; 
    border-radius: 3px;
}

.principal .texto {
    display: flex;
    text-align: center;
    width: 90vh;
    height: 20vh;
}

.principal .imagem {
    display: flex;
    background-position: center;
    height: 45vh;
    width: 85vh;
    border-radius: 3px;
    background-image: url('../img/trappersAmericanos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.texto span {
    font-weight: 700;
}

.principal img {
    display: flex;
    width: 50vh;
    height: 20.5vh;
}

.brasil {
    margin-top: 45vh;
    margin-bottom: 25vh;
    padding: 20px;
    margin-left: 70px;
    margin-right: 70px;
    width: 180vh;
    height: 200vh;
}

.brasil .textoBrasil {
    display: flex;
    text-align: justify;
    margin-bottom: 15vh;
    width: 180vh;
    height: 32vh;
}

.brasil .imagemBrasil {
    display: flex;
    background-position: center;
    height: 40%;
    width: 75%;
    margin-top: 14vw;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 7vw;
    border-radius: 3px;
    background-image: url('../img/RaffaNaio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.textoBrasil span {
    font-weight: 700;
}

.brasil img {
    display: flex;
    justify-content: center;
    width: 45vh;
    height: 20.5vh;
}
