html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}

body{
    height: 100vh;
    background-color: #ffffff;
    background-size: cover;
}
section{
    min-height: 100vh;
    padding-top: calc(8vh + 50px);
    padding-bottom: 20px;
}
section:first-of-type {
    padding-top: 0px;
}
section:last-of-type {
    padding-bottom: 0px;
}
nav a{
    color: white;
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    min-height: 10vh;
    width:100vw;
    position: fixed;
    z-index: 999;
    top: 0px;
    background-color: #111111;

}

button {
    cursor: pointer;
}

.navLinks{
    width: 40%;
}
.logo img{
    margin-left: 20px;
    transition: 500ms width;
    width: 102px;
}
.nav-list{
    margin-right: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.nav-list li{
    letter-spacing: 3px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.container{
    padding-left: 8vw;
    padding-right: 8vw;
}

.page-title{
    width: max-content;
}

.page-title h1{
    color: black;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 10px;
}

.page-title h2{
    color: black;
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
}

.page-title div{
    width: 35%;
    height: 9px;
    background: #a913ff;
    border-radius: 20px;
    margin-bottom: 25px
}

.link-disable{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
